/** 布局-导航 **/
$topNavHeight: 50px;
$topNavFontSize: 16px;

$tabsHeight: 30px;

/** 布局-边栏 **/
$hideSidebarWidth: 50px;
$sidebarWidth: 168px;
$sidebarFontSize: 14px;
/** 弹框-居中 **/ 
$hideSidebarTop: 27%;
$hideSidebarRight: 60%;
